#grid {display:grid;grid-template-columns: 150px 1fr;}
#left {border-right:solid rgb(100,100,100) 2px; line-height: 150%; margin:0px}
#left a{text-decoration-line:none; color:gray}
#left #selected{background-color:rgb(100,100,100);color:black}
#left a:hover {background-color:rgb(100,100,100);color:black}
@media(max-width:800px){#grid{display:block;}}
